@import url('https://fonts.googleapis.com/css?family=Felipa');
body{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../OtherMedia/background-5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Felipa', cursive;
}
div.filter{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
  background-color: black;
}
form{
  position: absolute;
  top: 0;left: 0;right: 0;bottom: 0;
  margin: auto;
  width: 40%;
  height: 90%;
  border-radius: 5%;
  padding: 2%;
  box-sizing: border-box;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.7);
}
form::before{
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5%;
  opacity: 0.6;
  z-index: -1;
}
form .icon{
  position: absolute;
  top: 5%;left: 0;right: 0;
  margin: auto;
  width: 15vh;
  height: 15vh;
  background-color: black;
  border-radius: 50%;
}
form .icon .fa-user-circle-o{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-size: 15vh;
  color: white;
}

form input,form textarea{
  position: absolute;
  border-style: none;
  background-color: transparent;
  font-family: 'Felipa', cursive;
  font-weight: bold;
  font-size: 3vh;
}
form input:focus,form textarea:focus{
  outline: none;
}
form input[type="text"],
form input[type="password"],
form input[type="date"],form input[type="email"]{
  border-bottom: 1px solid grey;
}
form textarea{
  border: 1px solid grey;
  border-radius: 10%;
  width: 90%;
  max-width: 90%;
  min-width: 90%;
  height: 30%;
  max-height: 30%;
  min-height: 30%;
}
form input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}
form input[name="fname"],form input[name="lname"]{
  top: 22%;
}
form input[name="lname"]{
  left: 55%;
}
form input[name="username"]{
  top: 27%;
  left: 50%;
  transform: translateX(-50%);
}
form input[name="passw"],form input[name="reenter"]{
  top: 32%;
}
form input[name="reenter"]{
  left: 55%;
}
form #errmsg{
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  text-align: center;
}
form input[name="phone"],form input[name="email"]{
  top: 42%;
}
form input[name="email"]{
  left: 55%;
}
form input[name="Gender"],form input[name="dob"]{
  top: 52%;
}
form input[name="dob"]{
  left: 55%;
}
form textarea{
  top: 62%;
}
